html, body{ height: 100%;}

body{
  background: #ffffff !important;
  display: flex;
  align-items: center;
  justify-content: center;

}
h1{
  color: transparent;
  font: bold 10em/0 Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  animation: into 3s forwards;
  overflow: hidden;
  background-size: 300% 100%;
  background: linear-gradient(90deg, #b30059, #ff99dd, #ffccff, #b3ffff, #33ffd6) right;
  -webkit-background-clip: text;
}
h1:before,
h1:after{
  content: '';
  display: block;
  background: #fff;
  background: linear-gradient(90deg, #b30059, #ff99dd, #ffccff, #b3ffff, #33ffd6);
  width: 100%;
  animation: into2 3s forwards;
}
@keyframes into{
  0%{
    width: 0;
  }
  7%{
    width: 6.3em;
    transform: skewY(0deg);
  }
  15%{
    line-height: 0;
    background-position: right;
    transform: skewY(-10deg);
  }
  25%{
    width: 6.3em;
    line-height: 1;
    transform: skewY(-10deg) translate(0);
  }
  85%{
    width: 6.3em;
    line-height: 1;
    transform: skewY(-10deg);
  }
  90%{
      width: 6.3em;
      line-height: 1;
    transform: skewY(-10deg);
  }
  95%{
      width: 6.3em;
      line-height: 1;
    transform: skewY(-10deg);
  }
  100%{
      width: 6.3em;
      line-height: 1;
    background-position: left;
    transform: skewY(-10deg);
  }
}
@keyframes into2{
  12%{
    height: 0.07em;
  }
  15%{
    height: 0.15em;
  }
  85%{
    height: 0.15em;
  }
  90%{
    height: 0.15em;
  }
  100%{
      height: 0.15em;
  }
}
